body, html, #root, .container {
    height: 100%;
    margin: 0;
    padding: 0;
  }

h1 {
  font-weight: bold;
  font-size: 18px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

h3 {
  font-style: italic;
  font-size: 13px; 
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent 12%, #888 12%, #888 95%, transparent 95%);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, transparent 12%, #555 12%, #555 95%, transparent 95%);
}